* { 
	margin:0;
	padding:0;
}
html, body { 
	height:100%;
}
html {
	min-width:954px;
}
body {
	background:#2a64a7;
	color:#5a5a5a;
	font: 100%/1.6em "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

img {
	border:0; 
	vertical-align:top; 
	text-align:left;
}
.v{
	position:relative;
	float:left;
	}
.vlinks{
	position:relative;
	float:right;
	padding-right:40px;}
object { 
	vertical-align:top; 
	outline:none;
}
ul { 
	list-style:none;
}
ol { 
	padding-left:40px;
}

dl dt{ 
	color:#FF0000;
}

dl dd{ 
	padding-left:10px;
}

.fleft { 
	float:left;
}
.fright { 
	float:right;
}
.clear { 
	clear:both;
}

.col-1, .col-2, .col-3 { 
	float:left;
}

.alignright { 
	text-align:right;
}
.aligncenter { 
	text-align:center;
}

.wrapper { 
	width:100%;
	overflow:hidden;
}

table{
	border:1px solid #c6c9cc;
}

table th{
	background:#f7f7f7;
	padding:5px;
}

table th.t_top {
	background:#dfdfdf;
	padding:5px;
	width:100px;
} 

table td.t_top {
	background:#f7f7f7;
	padding:5px;
} 

table td{
	padding:10px;
}

.top_comment{
	font-size:14px;
	font-weight:normal;
	font-style:italic;
	margin:-5px 0 10px 0;
}

.plate{
	border:1px solid #c6c9cc;
	border-right:1px solid #737373;
	border-bottom:1px solid #737373;
}

/*==== GLOBAL =====*/
.container {
	width:954px; 
	margin:0 auto;
	font-size:.75em;
	position:relative;
}

#header {
	height:448px;
	overflow:hidden;
	background:url(images/header-tail.gif) 0 0 repeat-x;
}
#header_s {
	height:248px;
	overflow:hidden;
	background:url(images/header-tail.gif) 0 0 repeat-x;
}

.aside {
	background:#0e2945;
	width:100%;
	color:#dfdfdf;
}


/*----- forms parameters -----*/

input, select, textarea { 
	font-family:Arial, Helvetica, sans-serif; font-size:1em;
	vertical-align:middle;
	font-weight:normal;
}


/*----- other -----*/
.img-indent { 
	margin:0 20px 0 0; 
	float:left;
}
.img-box { 
	width:100%; 
	overflow:hidden; 
	padding-bottom:27px;
}
	.img-box img { 
		float:left; 
		margin:0 20px 0 0;
	}

.extra-wrap { 
	overflow:hidden;
}


p {
	margin-bottom:18px;
}
.p1 { 
	margin-bottom:9px;
}
.p2 { 
	margin-bottom:18px;
}
.p3 { 
	margin-bottom:27px;
}

/*----- txt, links, lines, titles -----*/
a {
	color:#e85a00; 
	outline:none;
}
a:hover{
	text-decoration:none;
}

h2 {
	font-size:22px;
	line-height:1.2em;
	color:#353535;
	font-weight:normal;
	margin-bottom:5px;
}
h3 {
	font-size:20px;
	line-height:1.2em;
	text-transform:uppercase;
	color:#fff;
	font-weight:normal;
	font-style:italic;
	background:url(images/line-dot.gif) 0 100% repeat-x;
	padding:0 0 5px 53px;
	margin-bottom:18px;
	text-shadow:1px 1px 0 #06162b;
}
h4 {
	font-size:14px;
	color:#e85a00;
	font-weight:normal;
	font-style:italic;
	margin-bottom:25px;
}
h5 {
	font-size:14px;
	color:#e85a00;
	font-weight:bold;
	font-style:italic;
}

.link1 { 
	background:url(images/bull-1.gif) no-repeat 0 6px;
	padding:0 0 0 7px;
	font-weight:bold;
}


.line-ver, .line-ver1 { 
	background-image:url(images/line-ver.gif); 
	background-repeat:repeat-y;
	width:100%;
}


/*==================boxes====================*/
.block {
	background:url(images/splash.gif) no-repeat 50% 50%;
}
	.block .inner {
		padding:40px 30px 30px 0;
	}
	.block .inner.last {
		padding-right:0;
	}
	.block .inner.bg1 {
		background:url(images/title-icon1.png) no-repeat 0 0;
	}
	.block .inner.bg2 {
		background:url(images/title-icon2.png) no-repeat 0 0;
	}
	.block .inner.bg3 {
		background:url(images/title-icon3.png) no-repeat 0 0;
	}
	
	
	
.box {
	background:#fff;
	width:100%;
}
	.box .left-bot-corner {
		background:url(images/left-bot-corner.gif) no-repeat left bottom;
		width:100%;
		}
	.box .right-bot-corner {
		background:url(images/right-bot-corner.gif) no-repeat right bottom;
		}
	.box .inside { 
		padding:21px 20px 48px 20px;
	}


.box1 {
	background:#f7f7f7;
	margin-left:285px;
	margin-bottom:10px;
	border:1px solid #c6c9cc;
	padding:10px 10px 10px 10px;
	-moz-box-shadow: 0px 2px 4px #e3e3e3; /* FF3.5+ */
  -webkit-box-shadow: 0px 2px 4px #e3e3e3; /* Saf3.0+, Chrome */
  box-shadow: 0px 2px 4px #e3e3e3; /* Opera 10.5, IE 9.0 */
}
.box1.bg1 {
	background:#ececec;
	padding-bottom:19px;
}
	.box1 h2.alt {
		background:#fff;
		padding:6px 22px 6px 22px;
		margin:-22px -15px 17px -20px;
	}


.address {
	float:left;
	margin-right:30px;
	width: 160px;
}
.address.last {
	margin-right:0;
}
	.address dt {
		margin-bottom:8px;
	}
	.address dt:first-line {
		font-size:14px;
		color:#e85a00;
		font-style:italic;
	}
	.address dd { 
		clear:both;
	}
		.address dd span { 
			float:left;
			width:50px;
		}


/*===== header =====*/
#header .header-bg {
	height:468px;
	background:url(images/header-bg.jpg) no-repeat 50% 0;
}
#header_s .header-bg1 {
	height:268px;
	background:url(images/header_bg.jpg) no-repeat 50% 0;
}
#header_s .header-bg2 {
	height:268px;
	background:url(images/header_bg.jpg) no-repeat 50% 0;
}
#header_s .header-bg3 {
	height:268px;
	background:url(images/header_bg.jpg) no-repeat 50% 0;
}
#header_s .header-bg4 {
	height:268px;
	background:url(images/header_bg.jpg) no-repeat 50% 0;
}

.logo {
	position:absolute;
	left:0;
	top:20px;
}
.tel {
	position:absolute;
	right:0;
	top:20px;
}
.lmes {
	display:block;
	color:#000;
	font-size:10px;
	position:absolute;
	left:4px;
	top:2px;
}
.rmes {
	display:block;
	color:#000;
	font-size:10px;
	position:absolute;
	right:0;
	top:2px;
}

#header .nav {
	position:absolute;
	left:0;
	top:92px;
}
	#header .nav li {
		float:left;
		padding-right:1px;
	}
		#header .nav li a {
			float:left;
			color:#353535;
			font-size:13px;
			background:url(images/nav-bg1.gif) no-repeat 0 0;
			width:115px;
			height:36px;
			line-height:36px;
			text-align:center;
			text-decoration:none;
			text-shadow:1px 1px 0 #fff;
		}
		#header .nav li a:hover, #header .nav li a.current {
			background:url(images/nav-bg2.gif) no-repeat 0 0;
			color:#fff;
			text-shadow:1px 1px 0 #185cb6;
		}

#header_s .nav {
	position:absolute;
	left:0;
	top:92px;
}
	#header_s .nav li {
		float:left;
		padding-right:1px;
	}
		#header_s .nav li a {
			float:left;
			color:#353535;
			font-size:13px;
			background:url(images/nav-bg1.gif) no-repeat 0 0;
			width:115px;
			height:36px;
			line-height:36px;
			text-align:center;
			text-decoration:none;
			text-shadow:1px 1px 0 #fff;
		}
		#header_s .nav li a:hover, #header_s .nav li a.current {
			background:url(images/nav-bg2.gif) no-repeat 0 0;
			color:#fff;
			text-shadow:1px 1px 0 #185cb6;
		}

.slogan {
	position:absolute;
	left:7px;
	top:215px;
	font-size:28px;
	color:#333;
	text-shadow:1px 1px 0 #DFDFDF;
	font-weight:bold;
}
.slogan_s {
	position:absolute;
	left:7px;
	top:170px;
	font-size:24px;
	color:#333;
	text-shadow:1px 1px 0 #DFDFDF;
	font-weight:bold;
}

.extra-nav {
	position:absolute;
	left:0;
	top:424px;
	margin-left:-40px;
}
	.extra-nav li {
		display:inline;
		background:url(images/divider.gif) no-repeat 100% 0;
		padding:0 8px 0 6px;
	}
	.extra-nav li.last {
		background:none;
	}

.extra-nav_s {
	position:absolute;
	left:7px;
	top:194px;
}
	.extra-nav_s li {
		display:inline;
		background:url(images/divider.gif) no-repeat 100% 0;
		padding:0 8px 0 6px;
	}
	.extra-nav_s li.last {
		background:none;
	}

/*===== aside =====*/
.aside .line-ver {
	background-position:300px 50%;
}
.aside .line-ver1 {
	background-position:644px 50%;
}
.aside .col-1{
	width:300px;
	margin-right:2px;
}
.aside .col-2{
	width:300px;
	padding-left:40px;
	margin-right:2px;
}
.aside .col-3{
	width:267px;
	padding-left:40px;
}
.aside .col-4{
	width:567px;
	padding-left:40px;
}
	.aside a {
	color:#e85a00; 
		font-weight:bold;
	}


/*===== content =====*/
#content .outdent {
	padding-bottom:36px;
}
#content .indent {
	padding:0 0 0 25px;
}
#content .indent1 {
	padding:20px 25px 0 25px;
}
	.list1 li {
	font-size:90%;
	color:#000;
	text-transform:uppercase;
	padding-bottom:0px;
	}
		.list1 li a {
			color:#000;
			padding:0 0 0 4px;
		}
		.list1 li a.link1 {
			font-size:12px;
			color:#e85a00;
			text-transform:none;
		}
	
	.news {
		padding:0 0 6px 0;
	}
		.news li {
	overflow:hidden;
	position:relative;
	padding:0 0 20px 74px;
	text-align: left;
		}
			.news li p.date {
				display:block;
				position:absolute;
				left:0;
				top:0;
				width:57px;
				height:56px;
				margin:0;
				text-align:center;
				color:#fff;
				font-size:30px;
				line-height:1.4em;
				text-shadow:1px 1px 0 #0f53e8;
				background:url(images/date.gif) no-repeat 0 0;
			}
				.news li p.date span {
					display:block;
					font-size:12px;
					margin-top:-22px;
				}

/*===== footer =====*/
#footer {
	color:#fff;
	padding:13px 0 24px 44px;
}
	#footer a {
		color:#62a9fb;
		text-decoration:none;
	}
	#footer a:hover {
		color:#fff;
		text-decoration:underline;
	}
	#footer .nav {
		margin:0 0 0 -6px;
	}
	#footer .nav li {
		display:inline;
		color:#62a9fb;
	}
		#footer .nav li a {
			color:#62a9fb;
			text-decoration:none;
			padding:0 9px 0 6px;
		}
		#footer .nav li a:hover, #footer .nav li a.current {
			color:#fff;
			text-decoration:underline;
		}



/*----- forms -----*/
#search-form {
	position:absolute;
	right:0;
	top:439px;
	font-size:13px;
	color:#fff;
	text-shadow:1px 1px 0 #052eb2;
}
	#search-form fieldset {
		border:none;
		display:inline;
	}
		#search-form input.text {
			width:150px;
			padding:0 0 1px 5px;
			border:1px solid #d2d1cc;
			border-top:1px solid #404040;
			border-left:1px solid #737373;
		}
		#search-form input.submit {
			background:url(images/submit.gif) no-repeat 0 0;
			width:41px;
			height:21px;
			border:none;
			font-size:13px;
			color:#fff;
			text-shadow:1px 1px 0 #cd2400;
			cursor:pointer;
		}

#newsletter-form fieldset {
	border:none;
}
	#newsletter-form input.text {
		width:195px;
		border:1px solid #d2d1cc;
		background:#fff;
		padding:2px 0 2px 5px;
		color:#5a5a5a;
		border-top:1px solid #404040;
		border-left:1px solid #737373;
	}
	#newsletter-form input.submit {
		background:url(images/submit-alt.gif) no-repeat 0 0;
		width:41px;
		height:21px;
		border:none;
		font-size:13px;
		color:#fff;
		text-shadow:1px 1px 0 #cd2400;
		cursor:pointer;
	}



#contacts-form fieldset {
	border:none;
	width:235px;
}
	#contacts-form label {
		display:block;
		height:32px;
		overflow:hidden;
	}
		#contacts-form input {
			background:#fff;
			width:230px;
			padding:2px 5px 2px 6px;
			border:none;
			border:1px solid #e1e1e1;
			color:#7e7e7e;
			border-color:#303030 #cecece #e1e1e1 #585858;
		}
		#contacts-form textarea {
			width:230px;
			padding:2px 5px 2px 6px;
			height:104px;
			background:#fff;
			overflow:auto;
			border:1px solid #e1e1e1;
			border-color:#303030 #cecece #e1e1e1 #585858;
			color:#7e7e7e;
			margin-bottom:17px;
		}
.inner_copy a {border:0;float:right;background:#f00;color:#f00;width:35%;line-height:10px;font-size:10px;margin:-50% 0 0 0;overflow:hidden;padding:0}

/*==========================================*/
#cate_tit {
	height: 20px;
	border: 1px solid #999;
	text-indent: 0;
}
